<% content_for :title, "Editing comment" %>

<h1 Class="text-center my-3">Editar Comentario</h1>

<%= render "form", comment: @comment %>

<br>

<div>
  <%= link_to "Volver a Comentarios", comments_path, class: "btn btn-secondary" %>
</div>
