<div class="container text-center my-5">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title text-dark mb-4"><strong>Bienvenido a <em>KariPic</em></strong></h1>
      <p class="card-text fs-5">
        ¡Explora el arte de la fotografía como nunca antes!  
        En <strong><em>KariPic</em></strong>, te presentamos las emociones y momentos capturados por la lente de Karina, una fotógrafa de renombre mundial. Disfruta de su talento y sé parte de esta comunidad apasionada por el arte visual.
      </p>
      <hr class="my-4">
        <p class="bi bi-eye text-success"></p> <strong>No estás registrado:</strong> Descubre las fotografías y explora los detalles detrás de cada obra.
        <p class="bi bi-chat-dots text-info"></p> <strong>Tienes una cuenta:</strong> Únete a la conversación dejando comentarios en las fotografías que más te inspiren.
        <p class="bi bi-camera text-danger"></p> <strong>Eres Karina:</strong> Comparte tu talento con el mundo subiendo tus fotografías favoritas.
        <hr>
      <%= link_to "Explorar Fotografías", photos_path, class:"btn btn-dark mt-3 px-5", ariaCurrent:"page" %>
    </div>
  </div>
</div>
